{% extends "base.html" %}

{% block head_title_block %}
{{ block.super }}
{% endblock %}

{% block main_content %}    
    <h1 class="cover-heading" style="color:#c55b28;">eyeData <span class="glyphicon glyphicon-eye-open"></span></h1>
    <p class="lead">Adaptive Visualizations of Research Data</p>
    <p class="lead">
      <a href="/datasets" class="btn btn-lg btn-default">View Sample Data Sets &nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span></a>
    </p>
{% endblock %}

{% block extra_js %}
 <script type="text/javascript" src="{{STATIC_URL}}js/eyedata.js" />
 <script type="text/javascript">
    var w = 500;
    var h = 300;
    var padding = 1;

    // default for testing
    var dataset = [ 5, 10, 13, 19, 21, 25, 22, 18, 15, 
                    13, 11, 12, 15, 20, 18, 17, 16, 18, 23, 25 ];

    var dataset = [];

    d3.json("{{ STATIC_URL }}js/worker.json", function(json) {
        for (var key in json) {
            console.log(dataset.push(json[key]));
        }
        visualize();
    });
  </script>
{% endblock %}
