{% extends "base.html" %}

{% block head_title_block %}
Support - {{ block.super }}
{% endblock %}

{% block main_content %}
<h1>About</h1>

<div class="row">
    
    <!-- col 1 -->
    <div class="col-md-7">    
        <p>There’s no such thing as a perfect design. Most experienced computer engineers I talked to agreed that absorbing this simple lesson constitutes the first step in learning how to get machines out the door. Often, they said, it is the most talented engineers who have the hardest time learning when to stop striving for perfection. West was the voice from the cave, supplying that information: "Ok. It’s right. Ship it."
        </p>
    </div>
    
    <!-- col 2 -->
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
              </div>
           <div class="panel-body">
               <p>
               He would bind his team with mutual trust, he had decided. When a person signed up to do a job for him, he would in turn trust that person to accomplish it; he wouldn’t break it down into little pieces and make the task small, easy and dull.</p>
          </div>
        </div>
    </div>
</div><!-- end: row -->
{% endblock %}