<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% if page_title %}{{ page_title }}{% else %}eyeData{% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />

    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}css/cover.css" rel="stylesheet">
      
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    {% block extra_css %}

    <style type="text/css">
        #visualization {
            color: black;
        }

	.axis path,
	.axis line {
	    fill: none;
	    stroke: black;
	    shape-rendering: crispEdges;
	}
			
        .axis text {
	    font-family: sans-serif;
	    font-size: 11px;
            color: black;
	}
    </style>

    {% endblock extra_css %}

</head>


<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      {% block main_content %}
          (main_content block)
      {% endblock %}


      <!-- Footer -->
      <div class="mastfoot">
        <div class="inner">
          <div class="col-xs-12">
              <p>&copy; Copyright {% now "Y" %}, President &amp; Fellows Harvard University</p>
          </div>
          <div class="col-xs-6">
            <a href="http://blogs.law.harvard.edu/dpsi/"><img src="{{ STATIC_URL }}images/berkman-logo.png" alt="berkman-logo" width="350" /></a>
          </div>
          <div class="col-xs-6 text-right">
             <span style="font-size:.85em;margin-right:.3em;">Powered by</span> <a href="http://datascience.iq.harvard.edu/dataverse"><img src="{{ STATIC_URL }}images/dataverseproject_logo.jpg" alt="dataverse-logo" /></a>
          </div>
          {% block footer_content %}
          {% endblock %}
        </div>
        <!-- /.inner -->
      </div>
      <!-- /.mastfoot -->
    </div>
    <!-- /.site-wrapper-inner -->
  </div>
  <!-- /.site-wrapper -->
  
  <!-- D3 JS library -->
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  
  <!-- jQuery Version 2.1.1 -->
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  
  {% block extra_js %}
  {% endblock extra_js %}
</body>

</html>

