<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% if page_title %}{{ page_title }}{% else %}eyeData{% endif %}</title>

    <!-- Bootstrap Core CSS -->
      <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}css/eyedata.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/cover.css" rel="stylesheet">  
    <!-- D3 JS library -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
      
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    {% block extra_css %}
    
    <!-- styling axes -->
    <style type="text/css">
        
        .axis path,
        .axis line {
                fill: none;
                stroke: black;
                shape-rendering: crispEdges;
        }

        .axis text {
                font-family: sans-serif;
                font-size: 11px;  
        }

    </style>
    {% endblock %}

    <script type="text/javascript">

    // create a file that includes all these and include it in base?

        // globals for formatting
        // want to create dynamically sized graphs?
	    var w = 500;
	    var h = 800;
	    var padding = 1;

	    function visualize(data_id, variable) {

		// load the data
		// call to grab the JSON using the id of the desired data
		// currently assuming univariate, need to create condition to handle multiple variables
		// var data_json = fun(data_id, variable);
                $.getJSON("/variable-detail/" + data_id + "/" + variable + "/", function(dataset) {

			// to scale the data to fit the screen
			var yScale = d3.scale.linear()
					     .domain([0, d3.max(dataset.data)])
					     .range([h - padding, padding]);

			switch (dataset.type) {
			    case "bar":
				visualize_bar(dataset, yScale);
				break;

			    case "density":
				visualize_density(dataset, yScale);
				break;

		//            case "table":
		//                visualize_table(dataset);
		//                break;

		//          case "scatter":
		//              visualize_scatter(dataset);
		//              label(dataset);
		//              break;
			}

			label(dataset, yScale);
	        });
            }

	    // where does this put the graph?
	    // can I make the graph a d3 object and return it?
	    function visualize_bar(dataset, yScale) {

		var svg = d3.select(".cover-container")
			  .append("svg")
			  .attr("width", w)
			  .attr("height", h);

		svg.selectAll("rect")                             // creates rectangles for every datapoint
		    .data(dataset.data)                           // binds data
		    .enter()
		    .append("rect")
		    .attr("x", function(d, i) {                   // where the element is located horizontally
			return i * (w / dataset.length);
		    })
		    .attr("y", function(d) {                      // location vertically
	//                return h - 2.5*d;
			return h - yScale(d);
		    })
		    .attr("width", w / dataset.length - padding)  // width
		    .attr("height", function(d) {                 // height
	//                return 2.5*d;
			return yScale(d);
		    })
		    .attr("fill", function(d) {                   // color, currently correlates with height
			return "rgb(0, 0, " + (d / 2.5) + ")";    // add controls for color?
		    });

		svg.selectAll("text")                             // add y values on the corresponding bars
		    .data(dataset.xVals)                           
		    .enter()
		    .append("text")
		    .text(function(d) {
			return d;
		    });
	    }

            function visualize_density(dataset, yScale) {

                var svg = d3.select(".cover-container")
                            .append("svg")
                            .attr("width", w)
                            .attr("height", h);

                

            }

	    // set up title, axes, etc.
	    function label(dataset, yScale) {                     // adds axes, titles, scales

		svg.append("text")                                // title
		    .attr("x", (w / 2))             
		    .attr("y", 0 - (margin.top / 2))
		    .attr("text-anchor", "middle")  
		    .style("font-size", "16px") 
		    .text(dataset.title);

	       var yAxis = d3.svg.axis()                          // function to create y-axis
				 .scale(yScale)
				 .orient("left")
                                 .ticks(10);                      // roughly ten tick marks

	       svg.append("g")
		   .attr("class", "axis")
                   .attr("transform", "translate(0, " + padding + ")")
		   .call(yAxis);

               // x axis

	    }
	</script>
</head>


<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <!-- Page Content -->
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand"><a href="/">eyeData</a></h3>
            <!-- Navigation -->
            <ul class="nav masthead-nav">
             <li{% if about_page %} class="active"{% endif %}>
                    <a href="{% url 'view_about_page' %}">About</a>
              </li>                   
              <li>
                  <a href="#">Getting Started</a>
              </li>
                
              <li{% if support_page %} class="active"{% endif %}><a href="{% url 'view_support_page' %}">Support</a></li>   
            </ul>
          </div>
          <!-- /.inner -->
        </div>
        <!-- /.masthead clearfix-->
        
        <div class="inner cover">
          {% block main_content %}
              (main_content block)
          {% endblock %}
        </div>

        <!-- Footer -->
        <div class="mastfoot">
          <div class="inner">
            {% block footer_content %}
            <div class="col-xs-12">
                <p style="color:#808080;">&copy; Copyright {% now "Y" %}, President &amp; Fellows Harvard University</p>
            </div>
            <div class="col-xs-6">
              <a href="http://blogs.law.harvard.edu/dpsi/"><img src="{{ STATIC_URL }}images/berkman-logo.png" alt="berkman-logo" width="350" /></a>
            </div>
            <div class="col-xs-6 text-right">
               <span style="color:#808080;font-size:.85em;margin-right:.3em;">Powered by</span> <a href="http://datascience.iq.harvard.edu/dataverse"><img src="{{ STATIC_URL }}images/dataverseproject_logo.jpg" alt="dataverse-logo" /></a>
            </div>
            {% endblock %}
          </div>
          <!-- /.inner -->
        </div>
        <!-- /.mastfoot -->
      </div>
      <!-- /.cover-container -->
    </div>
    <!-- /.site-wrapper-inner -->
  </div>
  <!-- /.site-wrapper -->

  <!-- jQuery Version 1.11.1 -->
  <script src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  {% block extra_js %}
  {% endblock %}

</body>

</html>
